main#contact {
	.tel {
		.center {
			&-inner {
				.flex {
					padding-top: 24px;
					.flexright,
					.flexleft {
						p {
							padding: 0;
						}
					}
				}
				.button {
					margin-top: 24px;
				}
				.time{
					padding: 16px 0px 0px 0px;
				}
				.recruittext {
					padding: 24px 0 0 0;
					a {
						border-bottom: 1px solid var(--childrens_color1);
					}
				}
			}
		}
	}
	.from {
		.wpcf7 {
			.onebox {
				margin-top: 24px;
				&__inner {
					.mailfrom {
						dl {
							max-width: 100%;
							width: 100%;
							@include flex(start, start, 0, 0, 1);
							padding-bottom: 32px;
							&:last-child {
								padding-bottom: 0;
							}
							dd {
								max-width: 100%;
								width: 100%;
								padding-bottom: 16px;
								line-height: 1em;
								@include sp{
									padding-bottom: 8px;
								}
								span {
									padding-left: 32px;
									font-size: 1.8rem;
									line-height: 1em;
									@include sm {
										padding-left: 8px;
									}
								}
							}
							dt {
								max-width: 100%;
								width: 100%;
								@include flex(start, start, 0, 0, 1);
								&::after {
									content: "";
									max-width: 100%;
									width: 100%;
									height: 4px;
									margin-top: 8px;
									background-image: url(../image/SVG/decoration/boder-line.svg);
								}
								span {
									max-width: 100%;
									width: 100%;
									input {
										max-width: 100%;
										width: 100%;
										font-weight: 400;
										@include sp{
											font-size: 1.6rem;
										}
										
									}
									.wpcf7-text{
										&::placeholder{
											color: rgba(38,51,59,0.5);
											font-size: 1.6rem;
										}
									}
									textarea {
										max-width: 100%;
										width: 100%;
										@include sp{
											font-size: 1.6rem;
										}
									}
									.wpcf7-textarea{
										&::placeholder{
											color: rgba(38,51,59,0.5);
											font-size: 1.6rem;
										}
									}
									.wpcf7-radio,
									.wpcf7-checkbox {
										@include flex(start, start);
										flex-direction: inherit;
									}
									.wpcf7-radio,
									.wpcf7-checkbox {
										@include lg {
											@include flex(start, center, wrap);
										}
										@include sm {
											@include flex(start, center, 0, 0, 1);
										}
										.wpcf7-list-item {
											width: auto;
											@include flex(start, center);
											margin: 0 32px 0 0;
											@include lg {
												max-width: calc((100% / 3) - 16px);
												width: 100%;
												margin: 0 16px 0 0;
											}
											@include sm {
												max-width: 100%;
												width: 100%;
												margin: 0;
											}
											input {
												margin-right: 8px;
												width: auto;
											}
										}
										.wpcf7-list-item.last {
											margin-right: 0;
										}
									}
									//ラジオボタンのチェック
									.wpcf7-radio {
										.wpcf7-list-item {
											input {
												position: relative;
												cursor: pointer;
												&::before {
													content: "";
													width: 16px;
													height: 16px;
													@include absoluteCenter;
													border-radius: 100%;
													background-color: var(--childrens_color1);
												}
												&:checked::before {
													-webkit-transform: scale(1, 1);
													transform: scale(1, 1);
													z-index: 1;
													@include absoluteCenter;
												}
												&::after {
													content: "";
													width: 16px;
													height: 16px;
													@include absoluteCenter;
													border: 1px solid var(--childrens_color1);
													border-radius: 100%;
													background: #ffffff;
												}
											}
										}
									}
									//チェックボタンのチェック
									.wpcf7-checkbox {
										.wpcf7-list-item {
											input {
												position: relative;
												cursor: pointer;
												&::before {
													content: "";
													width: 16px;
													height: 16px;
													@include absoluteCenter;
													background-color: var(--childrens_color1);
												}
												&:checked::before {
													-webkit-transform: scale(1, 1);
													transform: scale(1, 1);
													z-index: 1;
													@include absoluteCenter;
												}
												&::after {
													content: "";
													width: 16px;
													height: 16px;
													@include absoluteCenter;
													border: 1px solid var(--childrens_color1);
													background: #ffffff;
												}
											}
										}
									}
								}
							}
						}
					}
					.policy {
						height: 288px;
						overflow-y: scroll;
						&::-webkit-scrollbar {
							width: 4px;
						}
						&::-webkit-scrollbar-track {
							border-radius: 10px;
							box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
						}
						&::-webkit-scrollbar-thumb {
							background-color: rgba(38, 51, 59, 0.3);
							border-radius: 10px;
						}
					}
				}
			}
			//同意ボタン
			.wpcf7-form-control-wrap {
				max-width: 100%;
				width: 100%;
				.wpcf7-form-control {
					max-width: 100%;
					width: 100%;
					@include flex(center, center);
					.wpcf7-list-item {
						margin: 0;
						input {
							position: relative;
							cursor: pointer;
							&::before {
								content: "";
								width: 16px;
								height: 16px;
								@include absoluteCenter;
								background-color: var(--childrens_color1);
							}
							&:checked::before {
								-webkit-transform: scale(1, 1);
								transform: scale(1, 1);
								z-index: 1;
								@include absoluteCenter;
							}
							&::after {
								content: "";
								width: 16px;
								height: 16px;
								@include absoluteCenter;
								border: 1px solid var(--childrens_color1);
								background: #ffffff;
							}
						}
						.wpcf7-list-item-label {
							padding-left: 8px;
						}
					}
				}
			}
			.submit {
				margin: 0 auto;
			}
		}
	}
}
.wpcf7-acceptance{
	padding-top: 24px;
	@include sp{
		padding-top: 16px;
	}
}
.wpcf7-response-output{
	font-size: 1.6rem;
	padding: 8px;
	margin-top: 24px;
	@extend .noto;
}


