//食育・その他の活動のスライド
.instagram-slick,
.slide_slick {
    width: 100%;
    margin-top: 40px;

    .slick-list {
        width: 100%;
        height: 280px;

        @include sp {
            height: 160px;
        }

        .slick-track {
            width: 100%;
            height: 100%;

            .slick-slide {
                max-width: 100%;
                width: 280px !important;
                padding: 0 8px;

                @include sp {
                    width: 160px !important;
                }

                img {
                    max-width: 280px;
                    height: 280px;
                    width: 100%;
                    object-fit: cover;

                    @include sp {
                        max-width: 160px;
                        height: 160px;
                    }
                }
            }
        }
    }
}

.instagram-slick {
    z-index: -1;
}

//TOPのメインビジュアルの設定
.slick-dotted.slick-slider {
    margin: 0 !important;
}

.top-slick {
    ul.slick-dots {
        bottom: 40px;

        @include lg {
            bottom: -40px;
        }

        li {
            width: 16px;
            height: 16px;
            margin: 0 16px;

            button {
                padding: 0;
                margin: 0;

                &::before {
                    font-size: 16px;
                    line-height: 1em;
                    color: var(--childrens_color5);
                }
            }
        }
    }
}

//ギャラリーのスライド
.gallery {
    &__slide {
        .slick-list {
            .slick-track {
                .slick-slide {
                    img {
                        max-width: 600px;
                        width: 100%;
                        height: 315px;
                        object-fit: cover;
                        margin: 0 auto;
                        padding: 0 10px;

                        @include lg {
                            height: 232px;
                        }

                        @include md {
                            height: 182px;
                        }

                        @include xs {
                            height: 155px;
                        }
                    }
                }
            }
        }

        ul.slick-dots {
            bottom: 0;

            li {
                width: 16px;
                height: 16px;
                margin: 0 16px;

                @include sm {
                    margin: 0 8px;
                }

                button {
                    padding: 0;
                    margin: 0;

                    &::before {
                        font-size: 16px;
                        line-height: 1em;
                        opacity: 1;
                        color: var(--childrens_color5);
                    }
                }

                &.slick-active {
                    button::before {
                        font-size: 16px;
                        line-height: 1em;
                        opacity: 1;
                        color: var(--childrens_color1);
                    }
                }
            }
        }
    }
}