ol.breadcrumb{
  //パンくず
  @include flex(start,center);
  padding-top: 16px;
  li{
    line-height: 1em;
    @include flex(center,center);
    a{
      line-height: 1em;
      @include flex(center,center);
      span{
        font-size: 1.2rem;
        line-height: 1em;
      }
    }
    span{
      font-size: 1.2rem;
      line-height: 1em;
    }
  }
  svg{
    margin: 0 4px;
  }
}