//色設定
$color1: #ffffff;
$color2: #000000;
$color3: #26333b;
$color4: rgba(38, 51, 59, 0.5);
$color5: rgba(38, 51, 59, 0.16);
$color5: rgba(38, 51, 59, 0.1);
$color6:#e8dcc4;
$color7:rgba(232, 220, 196, 0.5);
$color8:rgba(255, 255, 255, 0.5);
$color9: rgba(38, 51, 59, 0.3);
//break point
$break-point_xl: 1200px;
$break-point_lg: 1024px;
$break-point-md: 768px;
$break-point-sp: 540px;
$break-point-xs: 375px;
// @include xl { (1200px) } PCの最小
// @include lg { (1024px) } タブレット横
// @include md { (768px) }　タブレット縦
// @include sm { (767px) }　タブレット-スマホ
// @include sp { (540px) }　スマホ-iPhoneX
// @include xs { (375px) }　スマホ-iPhone5/6